*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
	border: none;
	background-color: rgb(97, 97, 255);
	padding: 10px 50px;
	border-radius: 5px;
	/* color: whitesmoke; */
	margin-top: 20px;
}
